.post {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  border: 10px solid black;
}

.post-header {
  display: flex;
  justify-content: center;
}
